{{ form_start(form) }}
<div class="row g-2 my-1">
    <div class="col-4">
        <h6 class="border-bottom pb-2">L'ADHESION</h6>
        {% if app.request.attributes.get('_route') == "mac_gestion_adhesion_new" or app.request.attributes.get('_route') == "mac_gestion_adhesion_edit" or app.request.attributes.get('_route') == "mac_gestion_adhesion_newonmember"%}
            <div class="row g-1 align-items-center">
                <div class="col-8">
                    <div class="mb-1">
                        {{ form_label(form.asso, null, {'label_attr': {'class': 'form-label', 'for': form.asso.vars.label}}) }}
                        {{ form_widget(form.asso, {'attr':{'class':'form-select form-select-sm'}}) }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row g-1 align-items-center">
            <div class="col-8">
                <div class="mb-1">
                    {{ form_label(form.typeAdhesion, null, {'label_attr': {'class': 'form-label', 'for': form.typeAdhesion.vars.label}}) }}
                    {{ form_widget(form.typeAdhesion, {'attr' : {'class':'form-select form-select-sm'}}) }}
                </div>
            </div>
        </div>
        <div class="row g-1 align-items-center">
            <div class="col-12">
                <div class="mb-1">
                    {{ form_label(form.members, null, {'label_attr': {'class': 'form-label', 'for': form.members.vars.label}}) }}
                    {{ form_widget(form.members) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <h6 class="border-bottom pb-2">LA COTISATION</h6>
        <div class="row g-1 align-items-center">
            <div class="col-2">
                <div class="col-8">
                    <div class="form-check form-switch">
                        {{ form_label(form.isPaid, null, {'label_attr': {'class': 'form-check-label', 'for': form.isPaid.vars.label}}) }}
                        {{ form_widget(form.isPaid,  {'attr': {'class': 'form-check-input'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                {{ form_label(form.paidAt, 'Le', {'label_attr': {'class': 'form-label', 'for': form.paidAt.vars.label}}) }}
            </div>
            <div class="col-2">
                <div class="mb-1">

                    {{ form_widget(form.paidAt, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
            </div>
            <div class="col-3">
                <div class="mb-1">
                    {{ form_label(form.paidBy, null, {'label_attr': {'class': 'form-label', 'for': form.paidBy.vars.label}}) }}
                    {{ form_widget(form.paidBy) }}
                </div>
            </div>
            <div class="col-1">
                {{ form_label(form.refPaid, null, {'label_attr': {'class': 'form-label', 'for': form.refPaid.vars.label}}) }}
            </div>
            <div class="col-3">
                <div class="mb-1">
                    {{ form_widget(form.refPaid, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
            </div>
        </div>
        <div class="row g-1 align-items-center">
            <div class="col-3">
                <div class="col-8">
                    <div class="form-check form-switch">
                        {{ form_label(form.isFree, null, {'label_attr': {'class': 'form-check-label', 'for': form.isFree.vars.label}}) }}
                        {{ form_widget(form.isFree,  {'attr': {'class': 'form-check-input'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-1 align-items-center">
            <div class="col-4">
                <div class="mb-1">
                    {{ form_label(form.cotisation, null, {'label_attr': {'class': 'form-label', 'for': form.cotisation.vars.label}}) }}
                    {{ form_widget(form.cotisation, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
