{% extends 'admin.html.twig' %}

{% block title %}Adhesion index{% endblock %}

{% block breadcrumb_content %}
    {{ include('admin/include/_breadcrumb.html.twig', {
        firstLabel : 'Adhesion',
        firstLabel_route: 'mac_gestion_adhesion_index',
        secondLabel : 'Index',
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
    }) }}
{% endblock %}

{% block header_content %}
    <div class="row">
        <div class="col-12">
            <h2>Listes des adhésions</h2>
        </div>
    </div>
{% endblock %}

{% block main_content %}

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Membre</th>
                <th>Association</th>
                <th>Cotisation</th>
                <th>Règlée</th>
                <th>CreateAt</th>
                <th>UpdateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adhesion in adhesions %}
            <tr>
                <td>{{ adhesion.id }}</td>
                <td>
                    {% for member in adhesion.members %}
                        {{ member.civility }} {{ member.firstName }} {{ member.lastName }}
                    {% endfor %}
                </td>
                <td>{{ adhesion.asso }}</td>
                <td>{{ adhesion.cotisation }}€</td>
                <td>
                    {% if adhesion.isPaid == true and adhesion.isFree == false %}
                        <p class="mb-0">Le {{ adhesion.PaidAt ? adhesion.PaidAt|date('Y-m-d') : '' }} par {{ adhesion.paidBy }} - {{ adhesion.refPaid }}.</p>
                    {% elseif adhesion.isPaid == true and adhesion.isFree == true %}
                        <p class="mb-0">La cotisation est gratuite pour ce membre.</p>
                    {% else %}
                        <p class="mb-0">Cotisation non régularisée à ce jour.</p>
                    {% endif %}

                </td>
                <td>{{ adhesion.createAt ? adhesion.createAt|date('Y-m-d') : '' }}</td>
                <td>{{ adhesion.updateAt ? adhesion.updateAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('mac_gestion_adhesion_show', {'id': adhesion.id}) }}">show</a>
                    <a href="{{ path('mac_gestion_adhesion_edit', {'id': adhesion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mac_gestion_adhesion_new') }}">Create new</a>
{% endblock %}
