{% extends 'admin.html.twig' %}

{% block title %}New Adhesion{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/gestion/adhesion/new_edit.js') }}"></script>
{% endblock %}

{% block breadcrumb_content %}
    {{ include('admin/include/_breadcrumb.html.twig', {
        firstLabel : 'Adhesion',
        firstLabel_route: 'mac_gestion_adhesion_index',
        secondLabel : 'Index',
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
    }) }}
{% endblock %}

{% block header_content %}
    <div class="row">
        <div class="col-12">
            <h2>Créer une adhésion</h2>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <a class="btn btn-sm btn-outline-dark" href="{{ path('mac_gestion_adhesion_index') }}">Retour</a> <button class="btn btn-sm btn-outline-dark">{{ button_label|default('Ajouter') }}</button>

    {{ include('gestion/adhesion/_form.html.twig') }}

    <a href="{{ path('mac_gestion_adhesion_index') }}">back to list</a>
{% endblock %}
