{% set now = "now"|date("Y-m-d") %}
{% set activeCampaign = null %}


{% for campaign in association.campaignAdhesions %}
    {% if campaign.startAt|date("Y-m-d") <= now and campaign.finishAt|date("Y-m-d") >= now %}
        {% set activeCampaign = campaign %}
    {% endif %}
{% endfor %}

<div class="inline-flex w-full">
    <div class="flex-1">
        <p class="text-xl text-slate-800 mb-2">Liste des membres adhérent à l'association</p>
    </div>
    <div class="flex-1">
        {% if activeCampaign %}
            <p class="text-green-800 text-end">
                {{ activeCampaign.name }}
            </p>
        {% else %}
            <p class="text-red-800 text-end">
                Aucune campagne d'adhésion en cours
            </p>
        {% endif %}
    </div>
</div>
<table class="table-fixed min-w-full divide-y divide-gray-300">
    <thead>
    <tr>
        <th class="text-left text-sm font-semibold text-gray-900 w-2/12">Nom et Prénom</th>
        <th class="text-left text-sm font-semibold text-gray-900 w-3/12">Adresse</th>
        <th class="text-left text-sm font-semibold text-gray-900 w-4/12"></th>
        <th class="text-left text-sm font-semibold text-gray-900 w-2/12">Actions</th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
        {% for adherent in association.adherents %}
        <tr class="bg-white hover:bg-gray-100/70">
            <td class="py-1.5 pr-1 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0 flex flex-row items-center">
                <div class="content-center mr-1">
                    <img class="size-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                </div>
                <div>
                    <a href="{{ path('mac_gestion_associations_adherent_show', {'id': adherent.member.id}) }}" class="openModal" data-array="SHOWMEMBER-Voir la fiche du membre {{ adherent.member.civility }} {{ adherent.member.lastName }} {{ adherent.member.firstName }}">{{ adherent.member.civility }} {{ adherent.member.lastName }} {{ adherent.member.firstName }}</a>
                    <br>
                    <p class="text-gray-500 font-light">Type d'adhérent</p>
                </div>
            </td>
            <td class="py-1.5 pr-3 pl-4 font-light whitespace-nowrap text-gray-900 sm:pl-0">
                <p class="text-sm">
                    {{ adherent.member.address }}<br>
                    {{ adherent.member.zipcode }} {{ adherent.member.city }}
                </p>
            </td>
            <td class="py-1.5 pr-3 pl-4 text-sm font-light whitespace-nowrap text-gray-900 sm:pl-0">
                {% set lastAdhesions = adherent.adhesions|last %}

                {%  if lastAdhesions %}
                    {% if lastAdhesions.campaign.id == activeCampaign.id %}
                        <div class="flex flex-row items-center justify-between">
                            <div>
                                <p>L'adhésion est en cours de validité</p>
                                <p>Date de fin : {{ lastAdhesions.campaign.finishAt|date("d/m/Y") }}</p>
                            </div>
                            <div>
                                {% if lastAdhesions.payby is null or lastAdhesions.payby is empty %}
                                    <p class="text-orange-700"><i class="fa-light fa-diamond-exclamation fa-xl"></i> Règlement en attente !!</p>
                                {% else %}
                                    <p class="text-emerald-700"><i class="fa-light fa-shield-check fa-xl"></i> Cotisation à jour</p>
                                {% endif %}
                            </div>
                        </div>

                    {% else %}
                        <a href="#" class="text-xs text-center text-light text-sky-300 border border-sky-300 px-1.5 py-1 rounded openModal" data-array="ADDCOTISATION-Créer/Renouveller une adhesion">Renouveler l'adhésion</a>
                    {% endif %}
                {% else %}
                    {% if activeCampaign %}
                        <a href="{{ path('mac_gestion_adhesions_adhesion_newinshowasso', {'idCampaign': activeCampaign.id, 'idAdherent': adherent.id}) }}" class="text-xs text-center text-light text-sky-300 border border-sky-300 px-1.5 py-1 rounded openModal" data-array="ADDCOTISATION-Créer/Renouveller une adhesion">Créer la première adhésion</a>
                    {% else %}
                        <p>Pas de campagne d'adhésion active</p>
                    {% endif %}
                {% endif %}
            </td>
            <td class="py-1.5 pr-3 pl-4 text-sm font-light whitespace-nowrap text-gray-900 sm:pl-0">
                A venir
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>