{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-4">
            <div class="row">
                <div class="col-8">
                    <div class="mb-1">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'foo', 'for': form.name.vars.label}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>
                </div>
            </div>
            <div class="row g-1 my-2">
                <h6 class="mb-0">Adresse</h6>
                <div class="col-12">
                    <div>
                        {{ form_widget(form.address, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : 'Rue ...'}}) }}
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        {{ form_widget(form.bisAddress, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : 'Complément'}}) }}
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        {{ form_widget(form.zipcode, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : 'CP'}}) }}
                    </div>
                </div>
                <div class="col-5">
                    <div>
                        {{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : 'City'}}) }}
                    </div>
                </div>
            </div>
            <div class="row g-1 my-2">
                <h6 class="mb-0">Contacts</h6>
                <div class="col-12">
                    <div class="mb-1">
                        {{ form_label(form.contactPhone) }}
                        {{ form_widget(form.contactPhone, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : 'Téléphone'}}) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-1">
                        {{ form_label(form.contactEmail) }}
                        {{ form_widget(form.contactEmail, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : 'Email de l\'asso'}}) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-1">
                        {{ form_label(form.site) }}
                        {{ form_widget(form.site, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : 'Site web'}}) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-1">
                        {{ form_label(form.linkFb) }}
                        {{ form_widget(form.linkFb, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : '@facebook'}}) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-1">
                        {{ form_label(form.linkInst) }}
                        {{ form_widget(form.linkInst, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : '@insta'}}) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-1">
                        {{ form_label(form.linkGoo) }}
                        {{ form_widget(form.linkGoo, {'attr': {'class': 'form-control form-control-sm', 'placeholder' : 'Google Businness'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h6>Inscription au registre national des association</h6>
            <div class="row g-1 align-items-center">
                <div class="col-4">
                    <div class="form-check form-switch">
                        {{ form_label(form.isRna, "Est inscrite au RNA", {'label_attr': {'class': 'form-check-label', 'for': form.isRna.vars.label}}) }}
                        {{ form_widget(form.isRna,  {'attr': {'class': 'form-check-input'}}) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-1">
                        {{ form_label(form.numRna) }}
                        {{ form_widget(form.numRna, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <h6>{{ form_label(form.object, null, {'label_attr': {'class': 'foo', 'for': form.name.vars.label}}) }}</h6>
                <div class="col">
                    <div class="mb-1">
                        {{ form_widget(form.object, {'attr': {'class': 'form-control form-control-sm', "rows": 10}}) }}
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <h6>Logo de l'association</h6>
                <div class="col">
                    <div class="mb-1">
                        {{ form_label(form.logoFile, null, {'label_attr': {'class': 'foo', 'for': form.name.vars.label}}) }}
                        {{ form_widget(form.logoFile, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>
                </div>
            </div>

        </div>
        {{ form_rest(form) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
