{% extends 'admin.html.twig' %}

{% block title %}Association index{% endblock %}

{% block breadcrumb_content %}
    {{ include('admin/include/_breadcrumb.html.twig', {
        firstLabel : 'Association',
        firstLabel_route: 'mac_admin_association_index',
        secondLabel : 'Index',
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
    }) }}
{% endblock %}

{% block header_content %}
    <div class="row">
        <div class="col-12">
            <h2>Liste des associations</h2>
        </div>
    </div>
{% endblock %}

{% block main_content %}

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Commune</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Inscrite</th>
                <th>MàJ</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td><a href="{{ path('mac_admin_association_show', {'id': association.id}) }}">{{ association.name }}</a></td>
                <td>{{ association.city }}</td>
                <td>{{ association.contactPhone }}</td>
                <td>{{ association.contactEmail }}</td>
                <td>{{ association.createAt ? association.createAt|date('d/m/Y') : '' }}</td>
                <td>{{ association.updateAt ? association.updateAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('mac_admin_association_show', {'id': association.id}) }}">show</a>
                    <a href="{{ path('mac_admin_association_edit', {'id': association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-outline-dark" href="{{ path('mac_admin_association_new') }}">Ajouter une association</a>
{% endblock %}
