{% extends 'admin.html.twig' %}

{% block title %}Association{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/admin/association/show.js') }}"></script>
{% endblock %}

{% block breadcrumb_content %}
    {{ include('admin/include/_breadcrumb.html.twig', {
        firstLabel : 'Association',
        firstLabel_route: 'mac_admin_association_index',
        secondLabel : 'Fiche',
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
    }) }}
{% endblock %}

{% block header_content %}
    <div class="row">
        <div class="col-12">
            <h2>Fiche de :  <span class="text-muted">{{ association.name }}</span></h2>
        </div>
    </div>
{% endblock %}

{% block main_content %}

    <div class="row">
        <div class="col">
            <div class="float-start">
                <a class="btn btn-sm btn-outline-dark" href="{{ path('mac_admin_association_index') }}"><i class="fa-regular fa-chevrons-left"></i> Retour</a>
                <a class="btn btn-sm btn-outline-dark" href="{{ path('mac_admin_association_edit', {'id': association.id}) }}"><i class="fa-duotone fa-solid fa-pen-circle"></i> Modifier</a>
            </div>
            <div class="float-end">
                {{ include('admin/association/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <ul class="nav nav-underline" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#infos_géné" type="button" role="tab" aria-controls="infos_géné" aria-selected="true">Informations générales</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="true">Membres</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#cotisations" type="button" role="tab" aria-controls="cotisations" aria-selected="true">Cotisations</a>
        </li>
    </ul>
    <div class="tab-content my-3" id="myTabContent">
        <div class="tab-pane fade show active" id="infos_géné" role="tabpanel" aria-labelledby="infos_géné" tabindex="0">
            <p>Cette fiche à été créée le {{ association.createAt|date('Y-m-d')}} et modifiée le {{ association.updateAt|date('Y-m-d')}}</p>
            <div class="row">
                <div class="col-5">
                    <dl class="row">
                        <dt class="col-sm-5">Nom de l'association</dt>
                        <dd class="col-sm-7">
                            <p>
                                {{ association.name }}
                            </p>
                        </dd>
                        <dt class="col-sm-5">Adresse</dt>
                        <dd class="col-sm-7">
                            <p>
                                {{ association.address }}
                                {% if association.bisAddress is not null %}<br>{{ association.bisAddress }}{% else %}{% endif %}
                                <br>{{ association.zipcode }} {{ association.city }}
                            </p>
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-5">Contacts de l'association</dt>
                        <dd class="col-sm-7">
                            <p>
                                <i class="fa-sharp-duotone fa-solid fa-phone-office"></i> : {% if association.contactPhone is not null %}{{ association.contactPhone }}{% else %}<span class="badge text-bg-light">Non renseigné</span>{% endif %}<br>
                                <i class="fa-regular fa-at"></i> : {% if association.contactEmail is not null %}{{ association.contactEmail }}{% else %}<span class="badge text-bg-light">Non renseigné</span>{% endif %}
                            </p>
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-5">Supports de numérique</dt>
                        <dd class="col-sm-7">
                            <p>
                                Site internet : {% if association.site is not null %}{{ association.site }}{% else %}<span class="badge text-bg-light">Non renseigné</span>{% endif %}<br>
                                Compte Facebook : {% if association.linkFb is not null %}{{ association.linkFb }}{% else %}<span class="badge text-bg-light">Non renseigné</span>{% endif %}<br>
                                Compte Instagram :{% if association.linkInst is not null %}{{ association.linkInst }}{% else %}<span class="badge text-bg-light">Non renseigné</span>{% endif %}<br>
                                Compte Google Business :{% if association.linkGoo is not null %}{{ association.linkGoo }}{% else %}<span class="badge text-bg-light">Non renseigné</span>{% endif %}
                            </p>
                        </dd>
                    </dl>
                </div>
                <div class="col-7">
                    <dl class="row align-items-center">
                        <dt class="col-sm-3">Logo</dt>
                        <dd class="col-sm-9">
                            <img class="img-fluid" src="{{ asset('associations/'~association.slug~'/logo/'~association.logoName)| imagine_filter('association_card') }}" alt="{{ association.logoName }}">
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">
                            Inscrite au RNA*<br><span class="text-muted text-end fst-italic">Registre national des associations</span>
                        </dt>
                        <dd class="col-sm-2">
                            <p>
                                {% if association.isRna == 0 %}<span class="alert alert-warning p-1">Non</span>{% else %}<span class="alert alert-info p-1">Oui</span>{% endif %}
                            </p>
                            <p>
                                {% if association.isRna == 1 %}{{ association.NumRna }}{% endif %}
                            </p>
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">Objet de l'association</dt>
                        <dd class="col-sm-9">
                            <p>
                                {% if association.object is not null %}{{ association.object }}{% else %}<span class="badge text-bg-light">Non renseigné</span>{% endif %}
                            </p>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div>
                <div class="float-start"><p class="h4">Liste des adhésions en cours de validité</p></div>
                <div class="float-end">
                    <button class="btn btn-sm btn-outline-dark btnShowModalAdhesion" data-bs-whatever="ADD-Ajout d'une adhésion-{{ association.id }}">Ajouter une adhésion</button>
                    <button class="btn btn-sm btn-outline-dark btnShowModalAdhesion" data-bs-whatever="CLONE-Renouveler une adhésion">Renouveler une adhésion</button>
                    <button class="btn btn-sm btn-outline-dark btnShowModalAdhesion" data-bs-whatever="EDIT-Modifier une adhésion">Modifier une adhésion</button>
                    <button class="btn btn-sm btn-outline-dark btnShowModalAdhesion" data-bs-whatever="DEL-Supprimer une ou plusieurs adhésion">Supprimer une adhésion</button>
                </div>
            </div>
            <table id="tableMembers" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Membre</th>
                        <th>Cotisation</th>
                        <th>Tarif</th>
                        <th>Règlée</th>
                        <th>CreateAt</th>
                        <th>UpdateAt</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody class="rows">
                    {{ include('admin/association/include/_listMembers.html.twig') }}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="cotisations" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <div>
                <div class="float-start"><p class="h4">Liste des cotisations</p></div>
                <div class="float-end">
                    <button class="btn btn-sm btn-outline-dark btnShowModalCotisation" data-bs-toggle="modal" data-bs-target="#modalCotisation" data-bs-whatever="ADD-Ajout d'une cotisation-{{ association.id }}">Ajouter une cotisation</button>
                    <button class="btn btn-sm btn-outline-dark btnShowModalCotisation" data-bs-whatever="EDIT-Modifier d'une cotisation">Modifier une cotisation</button>
                    <button class="btn btn-sm btn-outline-dark btnShowModalCotisation" data-bs-whatever="DEL-Supprimer d'une cotisation">Supprimer une cotisation</button>
                </div>

                <div id="listCotisation">
                    <table id="tableCotisations" class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">Nom</th>
                            <th>Prix de la cotisation</th>
                            <th>Validitée</th>
                        </tr>
                        </thead>
                        <tbody class="rows">
                            {{ include('admin/association/include/_listCotisations.html.twig') }}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
    </div>




{% endblock %}

{% block modals %}
    <!-- modalAdhesion -->
    <div class="modal fade" id="modalAdhesion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content rounded-1">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Adhésions</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Chargement ...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitAdhesion" type="button" class="btn btn-sm btn-primary submitForm" data-target="#" data-bs-dismiss="modal">Ajouter</button>
                    <button id="closedModal" type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modalCotisation -->
    <div class="modal fade" id="modalCotisation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content rounded-1">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Cotisations</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Chargement ...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitCotisation" type="button" class="btn btn-sm btn-primary submitForm">Ajouter</button>
                    <button id="closedModal" type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}