{{ form_start(form) }}
<div class="row g-2 my-1">
    <div class="col-5">
        <h6>Détails</h6>
        <div class="row">
            {{ form_label(form.name, 'Dénomination', {'label_attr': {'class': 'col-sm-3 col-form-label', 'for': form.name.vars.name}}) }}
            <div class="col-sm-7">
                {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
        <div class="row">
            {{ form_label(form.priceCotisation, 'Prix conseillé', {'label_attr': {'class': 'col-sm-3 col-form-label', 'for': form.priceCotisation.vars.name}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.priceCotisation, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
        <div class="row">
            {{ form_label(form.startAt, 'Effective le', {'label_attr': {'class': 'col-sm-3 col-form-label', 'for': form.startAt.vars.name}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.startAt, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            {{ form_label(form.endAt, 'au', {'label_attr': {'class': 'col-sm-1 col-form-label', 'for': form.endAt.vars.name}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.endAt, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="row mb-3">
            <h6>{{ form_label(form.notes, 'Descriptif / Notes', {'label_attr': {'class': 'form-label mb-0', 'for': form.notes.vars.name}}) }}</h6>
            <div class="col-sm-12">
                {{ form_widget(form.notes, {'attr': {'class': 'form-control form-control-sm', 'rows':10}}) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
