<a
        id="{{ id }}"
        class="flex items-center border border-slate-600 text-sm text-gray-700 rounded-lg p-1.5 hover:bg-gray-600 hover:text-white transition-colors"
        href="{{ href }}"
        data-array="{{ array }}"
>
    <div class="w-10 flex justify-center mr-2">
        {{ icon|raw }}
    </div>
    <div class="flex-1 text-left text-xs ml-2">
        {{ text }}
    </div>
</a>