<a
    id="{{ id }}"
    class="border border-slate-600 text-sm text-slate-700 rounded px-1.5 py-1.5 hover:bg-gray-600 hover:text-white"
    href="{{ href }}"
    data-array = "{{ array }}"
>
    {{ icon|raw }} {{ text }}
</a>