<a
    id="{{ id }}"
    class="border border-sky-700 text-sm text-sky-700 rounded px-1.5 py-1.5 me-1 hover:bg-sky-700 hover:text-white"
    {% if href is not null %}
    href="{{ href }}"
    {% endif %}
    data-array = "{{ array }}"
>
    {{ icon|raw }} {{ text }}
</a>