{% extends 'admin.html.twig' %}

{% block title %}Member index{% endblock %}

{% block header_content %}
    {{ include('composants/page_headings.html.twig', {
        firstLabel : 'Membres',
        firstLabel_route: 'mac_admin_member_index',
        secondLabel : null,
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
        'label' : 'Liste des utilisateurs'
    }) }}
{% endblock %}

{% block utils %}
    {% include 'composants/buttons/button_utils.html.twig' with { 'id':'', 'array' : '','href' : path('mac_admin_dashboard_index'), 'icon' : '<i class="fa-light fa-chevrons-left"></i>','text':' Retour' } %}
{% endblock %}

{% block main_content %}

    <table class="min-w-full divide-y divide-gray-300">
        <thead>
        <tr>
            <th class="text-left text-sm font-semibold text-gray-900 ">Nom et Prénom</th>
            <th class="text-left text-sm font-semibold text-gray-900 ">Adresse</th>
            <th class="text-left text-sm font-semibold text-gray-900 ">Contact</th>
            <th class="text-left text-sm font-semibold text-gray-900 ">Email</th>
            <th class="text-left text-sm font-semibold text-gray-900 "></th>
            <th class="text-left text-sm font-semibold text-gray-900 "></th>
            <th class="text-left text-sm font-semibold text-gray-900 ">Actions</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
        {% for member in members %}
            <tr class="bg-white hover:bg-sky-100">
                <td class="py-1.5 pr-1 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0 flex flex-row items-center">
                    <div class="content-center mr-1">
                        <img class="size-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                    </div>
                    <div>
                        <a href="{{ path('mac_admin_member_edit', {'id': member.id}) }}" class="openModal">{{ member.civility }} {{ member.lastName }} {{ member.firstName }}</a>
                    </div>
                </td>
                <td class="py-1.5 pr-3 pl-4 font-light whitespace-nowrap text-gray-900 sm:pl-0">
                    <p class="text-sm">
                        {{ member.address }}<br>
                        {{ member.zipcode }} {{ member.city }}
                    </p>
                </td>
                <td class="py-1.5 pr-3 pl-4 text-sm font-light whitespace-nowrap text-gray-900 sm:pl-0">
                    <p class="text-sm">
                        <i class="fa-duotone fa-light fa-mobile"></i> {{ member.mobilePhone }} {% if member.homePhone is not null %}/ <i class="fa-duotone fa-light fa-phone"></i> {{ member.homePhone }}{% endif %}
                    </p>
                </td>
                <td class="py-1.5 pr-3 pl-4 text-sm font-light whitespace-nowrap text-gray-900 sm:pl-0">
                    <p class="text-sm">
                        {{ member.email }}
                    </p>
                </td>
                <td class="py-1.5 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0"></td>
                <td class="py-1.5 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0"></td>
                <td class="py-1.5 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
    {{ parent() }}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">MesAssosConnect</strong>
                <small>A l'instant</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
{% endblock %}
