{% extends 'admin.html.twig' %}

{% block title %}New Member{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ include('composants/page_headings.html.twig', {
        firstLabel : 'Adherent',
        firstLabel_route: 'mac_gestion_adhesion_index',
        secondLabel : 'Nouvelle fiche',
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
        label: 'Créer un compte sur MesAssosConnect'
    }) }}
{% endblock %}

{% block utils %}
    {% include 'composants/buttons/button_utils.html.twig' with {'href' : path('mac_admin_association_index'), 'icon' : '<i class="fa-light fa-chevrons-left"></i>','text':' Retour' } %}
    {% include 'composants/buttons/button_submit.html.twig' with {'id': 'cu-btnutils', 'icon' : '<i class="fa-light fa-check"></i>','text':'Valider' } %}
{% endblock %}

{% block main_content %}
    <a class="btn btn-sm btn-outline-dark" href="{{ path('mac_admin_member_index') }}"> Retour</a><button class="btn btn-sm btn-outline-dark">{{ button_label|default('Ajouter') }}</button>
    {{ include('admin/member/_form.html.twig') }}
{% endblock %}
