{% extends 'admin.html.twig' %}

{% block title %}Edit Association{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ include('composants/page_headings.html.twig', {
        firstLabel : 'Associations',
        firstLabel_route: 'mac_admin_association_index',
        secondLabel : 'Modifier',
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
        label: 'Modifier les infos de l\'association'
    }) }}
{% endblock %}

{% block sidebar_header %}
    {{ include('gestion/associations/association/include/_sidebarheader.html.twig') }}
{% endblock %}

{% block sidebar_content%}
    {{ include('gestion/associations/association/include/_sidebarcontent.html.twig') }}
{% endblock %}

{% block sidebar_footer %}
    {{ include('gestion/associations/association/include/_sidebarfooter.html.twig') }}
{% endblock %}

{% block utils %}
        {% include 'composants/buttons/button_utils.html.twig' with {'id':'','array': '','href' : path('mac_admin_association_show', {'id': association.id}), 'icon' : '<i class="fa-light fa-chevrons-left"></i>','text':' Retour' } %}
        {% include 'composants/buttons/button_submit.html.twig' with {
            'id': 'cu-btnutils',
            'array': 'EDITASSO-Créer une nouvelle fiche de membre',
            'icon' : '<i class="fa-light fa-check"></i>',
            'text':'Valider',
            'button_width' : null
        } %}

        {% include 'composants/buttons/button_valid.html.twig' with {
            'id'    : 'btnAddCampaign',
            'array' : 'ADDCAMPAIGN-Ouverture d\'une nouvelle campagne d\'adhésion',
            'href'  : path('mac_gestion_adhesions_campaign_adhesion_new', {'idAsso': association.id}),
            'icon'  : '',
            'text'  : ' Nvlle Campagne d\'adhésion'
        } %}

{% endblock %}

{% block main_content %}
    {{ include('gestion/associations/association/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}

{% block modals %}
    {{ parent() }}
    <div class="toast-container position-fixed bottom-0 start-50 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">MesAssosConnect</strong>
                <small>A l'instant</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

{% endblock %}