{% extends '../../../admin.html.twig' %}

{% block title %}Edit Association{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ include('composants/page_headings.html.twig', {
        firstLabel : 'Associations',
        firstLabel_route: 'mac_admin_association_index',
        secondLabel : 'Modifier',
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
        label: 'Modifier les infos de l\'association'
    }) }}
{% endblock %}

{% block sidebar_header %}
    <div class="flex-none">
        <div class="">
            <img src="{{ asset('images/jpg/spdm.jpg') }}" alt="" class="h-18 w-full object-cover rounded-t lg:h-24" />
        </div>
        <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
            <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                <div class="flex">
                    <img src="{{ asset('associations/'~association.slug~'/logo/'~association.logoName) }}" alt="" class="size-18 rounded-full object-cover ring ring-sky-700 sm:size-24" />
                </div>
            </div>
        </div>
        <div class="px-2 py-3 -mt-8">
            <h3 class="font-semibold text-sky-900 pb-1 text-end uppercase">{{ association.name }}</h3>
            <p class="text-sm text-end">
                {{ association.address }}
                {% if association.bisAddress is not null %}<br>{{ association.bisAddress }}{% else %}{% endif %}
                <br>{{ association.zipcode }} {{ association.city }}
            </p>
        </div>
    </div>
{% endblock %}

{% block sidebar_content%}
    <ul class="nav nav-underline" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="true">Membres</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#cotisations" type="button" role="tab" aria-controls="cotisations" aria-selected="true">Cotisations</a>
        </li>
    </ul>
{% endblock %}

{% block utils %}
    {% include '../../../composants/buttons/button_utils.html.twig' with {'id':'','array': '','href' : path('mac_admin_association_show', {'id': association.id}), 'icon' : '<i class="fa-light fa-chevrons-left"></i>','text':' Retour' } %}
    {% include '../../../composants/buttons/button_submit.html.twig' with {'id': 'cu-btnutils', 'array': 'EDITASSO-Créer une nouvelle fiche de membre','icon' : '<i class="fa-light fa-check"></i>','text':'Valider' } %}
{% endblock %}

{% block main_content %}
    {{ include('gestion/association/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}

{% block modals %}
    {{ parent() }}
    <div class="toast-container position-fixed bottom-0 start-50 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">MesAssosConnect</strong>
                <small>A l'instant</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

{% endblock %}