{% for adhesion in association.adhesions %}
    <tr>
        <td><input type="checkbox" class="checkbox" name="checkboxListAdhesions" value="{{ adhesion.id }}"></td>
        <td>
            {% for member in adhesion.members %}
                {{ member.civility }} {{ member.firstName }} {{ member.lastName }}
            {% endfor %}
        </td>
        <td>{{ adhesion.typeAdhesion }}</td>
        <td>{{ adhesion.cotisation }} €</td>
        <td>
            {% if adhesion.isPaid == true and adhesion.isFree == false %}
                Le {{ adhesion.PaidAt ? adhesion.PaidAt|date('Y-m-d') : '' }} par {{ adhesion.paidBy }} <span class="text-muted">- {{ adhesion.refPaid }}</span>.
            {% elseif adhesion.isPaid == true and adhesion.isFree == true %}
                La cotisation est gratuite pour ce membre.
            {% else %}
                Cotisation non régularisée à ce jour.
            {% endif %}

        </td>
        <td>{{ adhesion.createAt ? adhesion.createAt|date('Y-m-d') : '' }}</td>
        <td>{{ adhesion.updateAt ? adhesion.updateAt|date('Y-m-d') : '' }}</td>
        <td></td>
    </tr>
{% else %}
    <tr>
        <td><input type="checkbox" name="checkboxListAdhesions" value="0" disabled></td>
        <td colspan="7">L'association n'enregistre aucune adhesion active à ce moment.</td>
    </tr>
{% endfor %}