{% extends 'admin.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block header_content %}
    {{ include('composants/page_headings.html.twig', {
        firstLabel : null,
        firstLabel_route: null,
        secondLabel : null,
        secondLabel_route: null,
        thirdLabel : null,
        thirdLabel_route: null,
        label : 'Tableau de bord administrateur'
    }) }}
{% endblock %}

{% block sidebar_header %}
    <h3>Mes Assocations</h3>
    <hr>
    <p class="text-sm"><span class="text-gray-700">Vous gérez actuellement :</span> {% if associations|length > 1 %}{{ associations|length }} associations{% else %}{{ associations|length }} association{% endif %}</span></p>
{% endblock %}


{% block main_content %}

    <div class="flex justify-between mb-2">
        <h3 class="text-start">Mes Associations</h3>
        <p class="text-end"><span class="text-muted">Actuellement connecté à : {% if associations|length > 1 %}{{ associations|length }} associations{% else %}{{ associations|length }} association{% endif %}</span></p>
    </div>

    <div class="flex">
        <div class="grid grid-cols-4 gap-2">
        {% for association in associations %}
            <div class="overflow-hidden border border-solid border-gray-300 rounded bg-gray-50 dark:bg-gray-800/50 shadow-sm">
                <div class="h-2/4">
                    <img src="{{ asset('associations/'~association.slug~'/logo/'~association.logoName) }}" class="h-full object-cover rounded-start" alt="...">
                </div>
                <div class="h-2/4 px-4 py-5 sm:p-2">
                    <div>
                        <h5 class="font-semibold">{{ association.name }}</h5>
                        <p class="text-sm">Membres : {{ association.adherents|length }}</p>
                    </div>
                    <div class="flex justify-items-end my-2">
                        {% include 'composants/buttons/button_success.html.twig' with {'id':'','href' : path('mac_admin_association_show', {'id': association.id}), 'icon' : '<i class="fa-light fa-chevrons-left"></i>','text':' Accéder à la fiche' } %}
                    </div>

                </div>
            </div>
        {% else %}

        {% endfor %}
        </div>
    </div>
{% endblock %}
