{% extends 'login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block header_content %}{% endblock %}

{% block sidebar_header %}{% endblock %}
{% block sidebar_content %}{% endblock %}

{% block sidebar_footer %}{% endblock %}
{% block utils %}{% endblock %}

{% block main_content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="grid grid-cols-2 gap-0 shadow-sm w-[860px]">
        <div class="bg-[#0099A6] rounded-s-lg">
            <div class="h-full flex flex-col">
                <div class="flex-1 flex flex-col items-center justify-center px-12">
                    <h2 class="text-lg text-white font-semibold text-center uppercase">Bienvenue</h2>
                    <p class="text-md text-white text-center text-lig">Vous êtes sur le point de découvrir le monde de la gestion des Assos...</p>
                </div>
                <div class="h-10 items-center justify-center text-white">
                    <p class="text-center">
                        <a href="#" class="text-sm font-semibold">Politique de confidentialité</a>
                        <a href="#" class="text-sm font-semibold">Mentions Légales</a>
                    </p>
                </div>
            </div>

        </div>

        <div class="px-4 py-5 bg-white rounded-e-lg px-12">

            <h1 class="text-2xl text-center font-semibold uppercase mt-10 mb-10">KOALLIA</h1>
            <h2 class="h3 font-weight-normal text-center text-lg text-gray-800 mb-2">Se connecter</h2>
            <p class="text-sm font-light mb-4">Pour accéder à la plateforme, votre association doit être inscrite auprès de nos services.</p>
            <form class="space-y-4" method="post">
                {% if error %}
                    <div class="text-red-800 text-center text-sm">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('mac_security_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div>
                    <label class="block text-sm/6 font-medium text-gray-900" for="username">Email</label>
                    <div class="mt-1">
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="block w-full rounded-md bg-white border border-gray-200 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" autocomplete="email" required autofocus>
                    </div>
                </div>
                <div>
                    <label class="block text-sm/6 font-medium text-gray-900" for="password">Password</label>
                    <div class="mt-1">
                        <input type="password" name="_password" id="password" class="block w-full rounded-md bg-white border border-gray-200 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" autocomplete="current-password" required>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
                #}

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-sky-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-sky-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
                </div>
            </form>
        </div>

    </div>


    <div class="row justify-content-center">

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="col-3">
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            </div>
        {% endfor %}

        <div class="col-3">
            <div class="d-grid">

            </div>
        </div>
    </div>
</div>

{% endblock %}
