<div class="flex flex-col gap-1 bg-white">
    <label class="font-semibold text-sm text-slate-700" for="{{ for }}">
        {{ label }}
    </label>
    <textarea id="{{ id }}" rows="{{ rows }}" class="{{ input_width }} border border-gray-300 bg-gray-100/70 text-gray-900 text-sm  px-2 py-1 rounded focus:bg-white" placeholder="{{ placeholder }}" required="{{ required }}" name="{{ name }}">{{ value }}</textarea>
</div>